
/* ---------- LIVE-CHAT ---------- */

#live-chat {
	font-size: 12px;
	width: 100%;

    header {
        background: #293239;
        border-radius: 5px 5px 0 0;
        color: #fff;
        cursor: pointer;
        padding: 16px 24px;
    }

    h4:before {
        background: #1a8a34;
        border-radius: 50%;
        content: "";
        display: inline-block;
        height: 8px;
        margin: 0 8px 0 0;
        width: 8px;
    }

    h4 {
        font-size: 12px;
    }

    h5 {
        font-size: 10px;
    }

    form {
        padding: 24px;
    }

    input[type="text"] {
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 8px;
        outline: none;
        width: 234px;
    }
}