@charset "utf-8";

.header {
    border-radius: 5px;

    .btn {
        margin: 5px;
        color: white;
        border-radius: 5px;
        border: 1px solid;
        font-size: 25px;
    }
}

.portofolio {
    .card-body {
        text-align: center
    }
    .card-header {
        text-align: center
    }
}


.content {
    background: ghostwhite;
    border-radius: 5px;

    .card-header {
        text-align: center
    }

    .card-body {
        text-align: center
    }
}

.body {
    background: darkseagreen;
    padding: 10px;
}